__pycache__
ha-venv
venv
.venv
.idea
.DS_Store
.vscode/settings.json
.coverage
requirements.test.txt
requirements.txt
setup.cfg
tests
scripts/config.json
scripts/ecoflow_mqtt_parser/config.json
scripts/ecoflow_mqtt_parser/config.json
