__pycache__
ha-venv
venv
.venv
.idea
.DS_Store
.vscode/settings.json
.coverage
requirements.test.txt
requirements.txt
setup.cfg
tests


**/config.json
**/mcp.json
**/ioBroker_protobu_raw.txt

# 参考用リポジトリとテストデータ
ioBroker.ecoflow-mqtt/
scripts/delta_pro3_prepare_data_test/mock_protobuf_data.py
